* {
    margin: 0;
    padding: 0;
}

/*****************/
/**** logoNav ****/
/*****************/

.logo-nav {
    
    display: flex;
}

.image {
    position: relative;
}

.logo-img {
    position: absolute;
    bottom: 0;
}

/*****************/

/*****************/
/**** list-nav ***/
/*****************/

.list-div {
    margin: 45px 0 0 auto;
    padding: 20px;
}

li {
    list-style: none;
    display: inline;
    margin: 0 15px;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.75rem;
    color: #fff;
}

/*****************/

.book-bg {
    position: absolute;
    top: 150px;
    right: 200px;
}

p {
    color: black;
    font-size: 1.75rem;
    width: 30%;
    position: absolute;
    top: 230px;
    right: 490px;
    font-family: 'Londrina Solid', cursive;
}